body {
  background-color: #F7F9FC;
  color: rgba(54, 69, 59, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  text-align: center;
  line-height: 25px;
}

h1 {
font-family: 'Source Sans Pro', sans-serif;
font-size: 25px;
font-weight: 900;
color: rgba(5, 102, 141, 1);
}

h2 {
  font-size: 17px;
  font-family: 'Cambay' , sans-serif;
}

img {
  border-radius: 5%;
  height: 150px;
}

a {
  color: #fd1015;
  text-decoration: none ;
}

a:hover {
  color: #2274A5;
}

.large_container {
  width: 500px;   /* This sets the width */
  margin: 0 auto;
}

.small_container {
  background: white;
  border: 1px solid white;
  padding: 10px ;
  margin: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 5px;
}

#check_website {
  border: 1px rgba(253,16,21,.1) solid;
  background: rgba(253,16,21,.1);
  padding: 10px;
  border-radius: 5%;
}

.list_in_line > li {
  display: inline-block;
  padding: 0px 20px;
}

.list_in_line {
  list-style: none;
  padding-left: 0px;
}

ul {
  display: block;
}

#follow_me_title {
  color: green;
}

.social-links {
  color: lightgrey;
  font-size: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
